@import "tailwindcss";

@font-face {
  font-family: 'Pricedown';
  src: url('pricedown.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.pricedown-font {
  font-family: 'Pricedown', Arial, sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
  /* background-color: #000; */
  font-family: 'pricedown';
  color: black;
}
